TestApps/Schemadateien/Export_TrackingNo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Content">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="DataRow">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PackageId" type="xs:int" minOccurs="0" maxOccurs="1" />
              <xs:element name="PackageSSCC" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="OrderNo" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="TrackingNo" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="ShipmentDate" type="xs:date" minOccurs="0" maxOccurs="1" />
              <xs:element name="ShipmentSystem" type="xs:string" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>