TestApps/Schemadateien/Export_ArtPosStockIn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CONTENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ArtPosStockIn">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="1" name="SSCC" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ArticleNo" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ArticleDescription" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="EAN" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="Amount" type="xs:float" />
              <xs:element minOccurs="0" maxOccurs="1" name="QuantityUnit" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="Place" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryDate" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="Charge" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="SerialNo" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ProjectNo" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="BBD" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryNo" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryPos" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryReferenceNo" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryOrderDate" type="xs:dateTime" />
              <xs:element name="Creator" type="xs:string" />
              <xs:element name="CreatedTS" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>