TestApps/Schemadateien/Export_ArtPosStockOut.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CONTENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ArtPosStockOut">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="1" name="SSCC" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ArticleNo" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ArticleDescription" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="EAN" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="Amount" type="xs:float" />
              <xs:element minOccurs="0" maxOccurs="1" name="QuantityUnit" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="Place" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryDate" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="Charge" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="SerialNo" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ProjectNo" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="BBD" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryNo" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryPos" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="TrackingId" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="OrderNo" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ExtOrderNo" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="OrderDate" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="OrderPos" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="1" name="RecipientFirstName" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RecipientName" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RecipientAdditionalName" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RecipientCompanyName" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RecipientStreet" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RecipientZIPCode" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RecipientCity" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RecipientCountry" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="SequenceNo" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="1" name="Driver" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="LicensePlate" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ArrivalTime" type="xs:dateTime" />
              <xs:element name="Creator" type="xs:string" />
              <xs:element name="CreatedTS" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>