TestApps/Schemadateien/ExportDataResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://logistikbroker.com/ExportData/ExportDataResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Request" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>ExportDataResponse Notes</xs:appinfo>
            <xs:documentation xml:lang="en">
              Contains informations of your request.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ClientId" type="xs:unsignedInt" minOccurs="1" maxOccurs="1" />
              <xs:element name="Type" type="xs:string" minOccurs="1" maxOccurs="1" />
              <xs:element name="TS" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
              <xs:element name="Parameters" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Parameter">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="pos" type="xs:unsignedInt" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Content">
          <xs:annotation>
            <xs:appinfo>ExportDataResponse Notes</xs:appinfo>
            <xs:documentation xml:lang="en">
              Contains specific declared content depending on the requested type.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>