TestApps/Ix4ConnectorService/Ix4Models/Schema/SpecifFields/LICSRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://logistikbroker.com/LICSRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LICSRequest" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ClientId" type="xs:int" minOccurs="1"  maxOccurs="1"/> <!--Your ClientId-->
        <xs:element name="ArticleImport" minOccurs="0" maxOccurs="1"> <!--Complex element for new/update articles-->
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Article"> <!--Subelement for each new/update article-->
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ClientNo" type="xs:int" minOccurs="0" maxOccurs="1"/> <!--Your ClientId-->
                    <xs:element name="ArticleNo" type="xs:string" minOccurs="0" maxOccurs="1"/> <!--The article number (maxlength: 50)-->
                    <xs:element name="ArticleNo2" type="xs:string" minOccurs="0" maxOccurs="1"/><!--The article number2 (maxlength: 50)-->
                    <xs:element name="ArticleDescription" type="xs:string" minOccurs="0" maxOccurs="1"  /><!--The article description (maxlength: 255)-->
                    <xs:element name="ArticleDescription2" type="xs:string" minOccurs="0" maxOccurs="1"  /><!--The article description 2 (maxlength: 255)-->
                    <xs:element name="IdentityNo" type="xs:int" minOccurs="0" maxOccurs="1" /> <!--[DEPRECATED] The article identifier-->
                    <xs:element name="QuantityUnit" type="xs:string" minOccurs="0" maxOccurs="1" /> <!--The quantity unit (Id or Name (Created if not exist))-->
                    <xs:element name="EAN" type="xs:string"  minOccurs="0" maxOccurs="1" /> <!--The EAN (maxlength: 50)-->
                    <xs:element name="ProductCode" type="xs:string"   minOccurs="0" maxOccurs="1"/> <!--The product code (maxlength: 50)-->
                    <xs:element name="ArticleGroup" type="xs:string"   minOccurs="0" maxOccurs="1"/> <!--The articlegroup of this article (maxlength: 50)-->
                    <xs:element name="ArticleGroupDescription2" type="xs:string"   minOccurs="0" maxOccurs="1"/> <!--The articlegroup of this article (maxlength: 255)-->
                    <xs:element name="ArticleGroupFactor" type="xs:double" minOccurs="0" maxOccurs="1"/>    <!--The reference article factor to base-->
                    <xs:element name="Weight" type="xs:double" minOccurs="0" maxOccurs="1"/> <!--Weight per QuantityUnit)-->
                    <xs:element name="NotStocked" type="xs:int" minOccurs="0" maxOccurs="1"/><!--Article is not in stock.-->
                    <xs:element name="StockMin" type="xs:double" minOccurs="0" maxOccurs="1"/><!--Minimum stock.-->
                    <xs:element name="PUQuantity" type="xs:double" minOccurs="0" maxOccurs="1"/><!-- Quantity per package unit.-->
                    <xs:element name="ShortDescription" type="xs:string" minOccurs="0" maxOccurs="1"/><!-- Short description. (maxlength: 50) -->
                    <xs:element name="ArticleVariant" type="xs:string" minOccurs="0" maxOccurs="1"/><!-- Article variant. (maxlength: 50) -->
                    <xs:element name="Inactive" type="xs:int" minOccurs="0" maxOccurs="1"/><!-- Inactive flag. -->
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OrderImport" minOccurs="0" maxOccurs="1"> <!--Complex element for new orders-->
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Order" maxOccurs="unbounded"> <!--Subelement for each new order-->
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ReferenceNo" type="xs:string" minOccurs="0" maxOccurs="1" /> <!--A external reference number to this order (maxlength: 50)-->
                    <xs:element name="OrderNo" type="xs:string" minOccurs="0" maxOccurs="1" /> <!--The order number (maxlength: 50) (autogenerated if empty)-->
                    <xs:element name="ExtOrderNo" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--The external order number (maxlength: 30)-->
                    <xs:element name="ClientNo" type="xs:int" minOccurs="0" maxOccurs="1" /> <!--Your ClientId-->
                    <xs:element name="State" type="xs:int"  minOccurs="0" maxOccurs="1"/> <!--The state of order (only in special constellations) -->
                    <xs:element name="CustomerOrderNo" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--The customers order number (maxlength: 50)-->
                    <xs:element name="CustomerNo" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--The customers number (maxlength: 50)-->
                    <xs:element name="CustomerText"  type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Special customer infos/text (maxlength: 255)-->
                    <xs:element name="Prio" type="xs:int"  minOccurs="0" maxOccurs="1"/> <!--The order priority (1 fast - 10 low)-->
                    <xs:element name="DeliveryText" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Delivery instructions (maxlength: 500)-->
                    <xs:element name="ShipmentText" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Shipment instructions (maxlength: 255)> -->
                    <xs:element name="PackageText" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Packaging instructions (maxlength: 255)-->
                    <xs:element name="CommissionText"  type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Commission instructions (maxlength: 255)-->
                    <xs:element name="ShippingText" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Shipping instructions (maxlength: 255)-->
                    <xs:element name="ShipmentMode" type="xs:int"  minOccurs="0" maxOccurs="1" /> <!--Shipment mode to use (available values you get from Logistikbroker AG)-->
                    <xs:element name="ShipmentDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" /> <!--Date when to ship-->
                    <xs:element name="CreatedDate" type="xs:dateTime"  minOccurs="0" maxOccurs="1"/> <!--Creation date-->
                    <xs:element name="CashOnDeliveryAmount"  type="xs:double" minOccurs="0" maxOccurs="1" /> <!--Cash on delivery amount (used for special shipment)-->
                    <xs:element name="OrderAmount"  type="xs:double" minOccurs="0" maxOccurs="1" /> <!--Order amount (used for special shipment)-->
                    <xs:element name="SupplyAreaNo" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--The supply area identifier/description -->
                    <xs:element name="SupplyPlaceNo" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--The supply place identifier/description -->
                    <xs:element name="StockOutAreaNo" type="xs:string" minOccurs="0" maxOccurs="1"/> <!--The stockout area identifier/description-->
                    <xs:element name="StockOutPlaceNo" type="xs:string" minOccurs="0" maxOccurs="1"/> <!--The stockout place identifier/description-->
                    <xs:element name="TransportType"  type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--The transport type (maxlength: 50)-->
                    <xs:element name="DistributionCenter"  type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--The distribution center (maxlength: 50)-->
                    <xs:element name="PaymentCondition"  type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Details for payment (maxlength: 255)-->
                    <xs:element name="Comment"  type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Comments (maxlength: 255)-->
                    <xs:element name="Currency"  type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--The currency (maxlength: 50)-->                   
                    <xs:element name="Recipient"  minOccurs="0" maxOccurs="1"> <!--Complex element for the recipient-->
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FirstName" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Firstname (maxlength: 50)-->
                          <xs:element name="Name" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Name (maxlength: 50)-->
                          <xs:element name="AdditionalName" type="xs:string"  minOccurs="0" maxOccurs="1" /> <!--Additional name (maxlength: 50)-->
                          <xs:element name="Street" type="xs:string"  minOccurs="0" maxOccurs="1" /> <!--Street (maxlength: 50)-->
                          <xs:element name="City" type="xs:string"   minOccurs="0" maxOccurs="1"/> <!--City (maxlength: 50)-->
                          <xs:element name="ZIPCode" type="xs:string" minOccurs="0" maxOccurs="1" /> <!--ZIP code (maxlength: 50)-->
                          <xs:element name="Country" type="xs:string"  minOccurs="0" maxOccurs="1" /> <!--Country (ISO3166_2)-->
                          <xs:element name="CompanyName" type="xs:string" minOccurs="0" maxOccurs="1" /> <!--Company name (maxlength: 100)-->
                          <xs:element name="ContactTitle" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Title (maxlength: 50)-->
                          <xs:element name="ContactTelephone" type="xs:string" minOccurs="0" maxOccurs="1" /> <!--Telephone number (maxlength: 50)-->
                          <xs:element name="ContactFax" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--FAX number (maxlength: 50)-->
                          <xs:element name="ContactEMail" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Email adress (maxlength: 50)-->
                          <xs:element name="AdditionalText"  type="xs:string" minOccurs="0" maxOccurs="1"/> <!--Additional infos (maxlength: 255)-->
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Positions" minOccurs="1"> <!--Complex element for order positions-->
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Position" maxOccurs="unbounded"> <!--Subelement for each order position-->
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PositionNo" type="xs:int" minOccurs="0" maxOccurs="1"/> <!--Position number-->
                                <xs:element name="ArticleNo" type="xs:string" minOccurs="0" maxOccurs="1"/> <!--Article-Ident: Article number (use article import bevor or same file)-->
                                <xs:element name="EAN" type="xs:string" minOccurs="0" maxOccurs="1"/> <!--Article-Ident: EAN number (use article import bevor or same file)-->
                                <xs:element name="SSCC" type="xs:string" minOccurs="0" maxOccurs="1"/> <!--SSCC (no article number needed) (maxlength: 50)-->
                                <xs:element name="ArticleGroup" type="xs:string" minOccurs="0" maxOccurs="1" /> <!--Articlegroup (Articles) always in base quantity unit-->
                                <xs:element name="TargetQuantity" type="xs:double" minOccurs="0" maxOccurs="1"/> <!--Quantity-->
                                <xs:element name="Charge" type="xs:string" minOccurs="0" maxOccurs="1" /> <!--Charge (maxlength: 50)-->
                                <xs:element name="SerialNo" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Serial number (maxlength: 50)-->
                                <xs:element name="ExpiryDate" type="xs:dateTime"  minOccurs="0" maxOccurs="1"/> <!--Expirey date-->
                                <xs:element name="ProjectNo" type="xs:string" minOccurs="0" maxOccurs="1" /> <!--Project number (maxlength: 50)-->
                                <xs:element name="CustomerText" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Customer instructions (maxlength: 500)-->
                                <xs:element name="CommissionText" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Commission instructions (maxlength: 255)-->
                                <xs:element name="PackageText" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Packaging instructions (maxlength: 255)-->
                                <xs:element name="ShipmentText" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Shipment instructions (maxlength: 255)-->
                                <xs:element name="ShippingText" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Shipping instructions (maxlength: 255)-->
                                <xs:element name="Comment" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Comments (maxlength: 255)-->
                                <xs:element name="NetPrice" type="xs:double"  minOccurs="0" maxOccurs="1"/> <!--The net price of position-->
                                <xs:element name="GrossPrice" type="xs:double"  minOccurs="0" maxOccurs="1"/> <!--The gross price of position-->
                                <xs:element name="Tax" type="xs:double"  minOccurs="0" maxOccurs="1"/> <!--The tax-->
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DeliveryImport" minOccurs="0" maxOccurs="1"> <!--Complex element for new delivery-->
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Delivery" maxOccurs="unbounded"> <!--Subelement for each delivery-->
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DeliveryNo" type="xs:string" minOccurs="0" maxOccurs="1" /> <!--Delivery number (maxlength: 50)-->
                    <xs:element name="ClientNo" type="xs:int" minOccurs="0" maxOccurs="1"  /> <!--Your ClientId-->
                    <xs:element name="DeliveryDate" type="xs:dateTime"  minOccurs="0" maxOccurs="1"/> <!--Date of delivery-->
                    <xs:element name="DeliveryArea" type="xs:string" minOccurs="0" maxOccurs="1"/> <!--The delivery area identifier/description-->
                    <xs:element name="DeliveryPlace" type="xs:string" minOccurs="0" maxOccurs="1"/> <!--The delivery place identifier/description-->
                    <xs:element name="ReferenceNo" type="xs:string" minOccurs="0" maxOccurs="1" /> <!--The external refernce number (maxlength: 50)-->
                    <xs:element name="OrderDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" /> <!--The order date-->
                    <xs:element name="Positions" minOccurs="1" maxOccurs="1"> <!--Complex element for delivery positions-->
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Position" maxOccurs="unbounded"> <!--Subelement for each delivery position-->
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PositionNo" type="xs:int" minOccurs="0" maxOccurs="1" /> <!--Position number-->
                                <xs:element name="ReferenceNo" type="xs:string" minOccurs="0" maxOccurs="1" /> <!--Ext Reference number-->
                                <xs:element name="ArticleNo" type="xs:string" minOccurs="0" maxOccurs="1" /> <!--Article-Ident: Article number (use article import bevor or same file)-->
                                <xs:element name="EAN" type="xs:string" minOccurs="0" maxOccurs="1"/> <!--Article-Ident: EAN number (use article import bevor or same file)-->
                                <xs:element name="ArticleGroup" type="xs:string" minOccurs="0" maxOccurs="1" /> <!--Articlegroup (Articles) always in base quantity unit-->
                                <xs:element name="LoadType" type="xs:int" minOccurs="0" maxOccurs="1"/> <!--Load type (available values you get from Logistikbroker AG)-->
                                <xs:element name="TargetLoadsCount" type="xs:int" minOccurs="0" maxOccurs="1"  /> <!--Target count of loads-->
                                <xs:element name="ArticlePerLoad" type="xs:double" minOccurs="0" maxOccurs="1"  /> <!--Article count for each load-->
                                <xs:element name="TargetQuantity" type="xs:double" /> <!--Quantity-->
                                <xs:element name="Charge" type="xs:string" minOccurs="0" maxOccurs="1" /> <!--Charge (maxlength: 50)-->
                                <xs:element name="SerialNo" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Serial number (maxlength: 50)-->
                                <xs:element name="ExpiryDate" type="xs:dateTime"  minOccurs="0" maxOccurs="1"/> <!--Expiry date-->
                                <xs:element name="ProjectNo" type="xs:string"  minOccurs="0" maxOccurs="1"/> <!--Project number (maxlength: 50)-->
                                <xs:element name="SSCC" type="xs:string" minOccurs="0" maxOccurs="1"/> <!--Special SSCC description (for more than one seperate with ';')-->
                                <xs:element name="Comment"  type="xs:string" minOccurs="0" maxOccurs="1"/> <!--Comments (maxlength: 255)-->
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" default="1.02" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>